<launch>
    <arg name="map_file" default="/home/krishna/Siddhesh/Latest-Warehouse-DWA/src/dwa/stage/AddverbMap.yaml"/>
	
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <node name="stage" pkg="stage_ros" type="stageros" args="/home/krishna/Siddhesh/Latest-Warehouse-DWA/src/dwa/stage/AddverbMap.world" />
</launch>
